/*** You will not need this file until Unit 3 ***/


button{
    background-color:#810B38;
    color: #FFF5E5;
}

/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    height: 100%;
    width:100%;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/


h1 {
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--accent-color-darkest), 0 0 25px var(--accent-color-green-full), 0 0 5px var(--accent-color-light);
    color: var(--bg-color);
    background-color: var(--text-color);
    display: inline-block;
    padding:20px;
    border-radius: 50px;

}

h2 {
    text-align: center;
    padding: 40px 20px 40px 20px;
    background-color:var(--accent-color-green);
    overflow:hidden;
    margin-left: -50px;
    margin-right: -50px;
}

h3 {
    
    

}

h4 {
    
}

p {
    text-align: left;
    
}

a,
a * {
    p{
        margin-top:0%;
        font-size:15px;
        font-style:italic;
    }
    h4{
        margin-bottom:0%;
    }
    
}

hr{


}



button {
    /* Example Style, replace with your own! */
    background-color: var(--accent-color-medium);    /* button color */
    color: #FFF5E5;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

#home{
    padding-top:40px;

}
.header-container { /* Example A: This styles elements with class="header" */
    padding: 50px;
    margin: 50px 0px 300px 0px;
    background-color:var(--accent-color-green);
    border-radius: 20px;

    display: flex;
    flex-direction:row;
    text-align: left;
    justify-content: space-evenly;

    h2 {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        width:auto;
        text-align: left;

    }   

}


.header-item:nth-of-type(1){

    width:50%;

    #header-img img{
        display: block;
        width: 700px;
        max-width: 75%;
        height: auto;
        object-fit: cover;
    }

}

.header-item:nth-of-type(2){

    width:50%;

    .header-button button{

        background-color: var(--accent-color-green);    
        color: var(--accent-color-darkest);               
        border: none;               
        padding: 5px 12px;          
        border-radius: 5px;        
        cursor: pointer;
        box-shadow:  1px 1px 2px var(--accent-color-darkest), 0 0 0px var(--accent-color-medium), 0 0 5px var(--accent-color-light);
        font-weight: bold;

    }

    button:hover{
        box-shadow:  1px 1px 2px var(--accent-color-darkest), 0 0 25px var(--accent-color-medium), 0 0 5px var(--accent-color-light);
    }
    
    .header-signUp{
        padding-top:0px;
        margin:35px 0px 35px 0px

    }

}



/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color-light);
    text-align:left;
    padding: 0px 0px 0px 10px;
    height:40px;

}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow:hidden;
    position:fixed;
    width:100%;
    top:-16px;
    left:0;
    margin-bottom:100px;
    background-color:var(    --accent-color-darkest);

    
}
    
.navbar ul li {
    float: left;
    padding:5px;

}

.navbar ul li #theme-button{
    display: block;
    margin: 5px auto;
    width: 140px;
    margin-left:30px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: var(--accent-color-light);
    text-align: left;
    padding:10px;
    
}

.navbar ul li a:hover {
    color: var(--accent-color-green-full);
    
}


/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
#about{
    display:block;
    padding-top:30px;
}

.about-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;

    ul li{
        text-indent: 50px;

    }

}

.about-info{
    display: flex;
    flex-direction: row;
    margin: 35px 0px 35px 0px;
    padding: 0px 50px 0px 50px;

    p {
        text-align: left;
        padding: 50px 0px 50px 50px;
    }
    
    .about-video iframe {
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0 auto;
    }
}


.what-to-expect{
    padding: 0px 0px 10px 50px;

}
/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
#schedule{
    display: block;
    padding-top:30px;
    padding-bottom:100px;
}
.schedule-container{
    display:flex;
    flex-direction:row;
    margin-top: 50px;
    margin-bottom:50px;


}

.event-image {
    display:block;
    margin-top: 40px;
    background-color: var(--accent-color-cream-shadow);
    margin-left: -50px;
    margin-right: -50px;

    img{
        width: 50%;
        display: block;
        margin: 0 auto;
        padding: 20px;

    }

}

.schedule-item{
    display: block;
    background-color: var(--accent-color-cream-shadow);
    border-radius: 20px;
    margin-right:10px;
    margin-left:10px;
    width:500px;
    padding: 20px;
    
}

.event-text {

    h3 {
        display:block;
        background-color: var(--accent-color-green);
        text-align: center;
        border-radius:20px;
        margin:5px;
        padding:10px;

    }

    p{
        margin:20px 25px 20px 25px;

    }

}

.schedule-image img{
    display: block;
    margin: auto;
    margin-bottom:20px;

    height:150px;
    width:250px;
    background-color: var(--accent-color-green);
    border-radius: 10px;

}



/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

#links{
    padding-top: 100px;
    padding-bottom: 100px;

}

.links-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 0px 50px 0px;

    h3{
        padding:50px 0px 40px 0px;
    }

}

.travel-guides {

}

.additional-resources {
    

}

a:link{
    color: var(--text-color)

}
a:hover{
    text-shadow: 1px 1px 2px var(--accent-color-green), 0 0 10px var(--accent-color-green-full), 0 0 5px var(--accent-color-medium);

}
a:visited{
    background-color:rgba(128, 128, 128, 0.443)

}
a:active{
    color:var(--accent-color-darkest)

}

/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/



/*** DARK MODE***/

/* Default dark mode style */
.dark-mode {
    background-color: var(--bg-color-dark-mode);
    color: var(--text-color-dark-mode);

}

/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    background-color: var(--accent-color-dark);
    
}

.dark-mode h2 {
    background-color: var(--dark-accent-color-green);
    color: var(--accent-color-dark);

}

.dark-mode .header-container{
    background-color: var(--dark-accent-color-green);
    color: var(--accent-color-dark);

    h2{
        background-color: transparent;
    }

    .header-button button{

        background-color: var(--accent-color-dark);    
        color: var(--text-color-dark-mode);               
        border: none;               
        padding: 5px 12px;          
        border-radius: 5px;        
        cursor: pointer;
        box-shadow:  1px 1px 2px var(--accent-color-darkest), 0 0 0px var(--accent-color-medium), 0 0 5px var(--accent-color-light);
        font-weight: bold;

    }

    button:hover{
        box-shadow:  1px 1px 2px var(--accent-color-darkest), 0 0 25px var(--accent-color-medium), 0 0 5px var(--accent-color-light);
    }

    
}

.dark-mode .event-image{background-color: var(--dark-accent-color-cream-shadow);}
.dark-mode .schedule-item{background-color: var(--dark-accent-color-cream-shadow);}
.dark-mode .schedule-image img{background-color: var(--dark-accent-color-green);}
.dark-mode .event-text{
    h3{
        background-color: var(--dark-accent-color-green);
        color: var(--accent-color-darkest);
    }
}


/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {
    color: rgb(233, 125, 122);
}

.dark-mode a:link{
    color: var(--text-color-dark-mode);
}

.dark-mode .footer{
    background-color: var(--dark-accent-color-cream-shadow);
}



/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #FFF5E5;
    --text-color: #541A1A;

    /* Dark Mode */
    --bg-color-dark-mode: #3a0f0f;
    --text-color-dark-mode: #FFF5E5;
    --dark-accent-color-green: #b4e7c8c8;  /* #b4e7c8e8 */
    --dark-accent-color-cream-shadow: #4f413dd5;

    /* Accent Colors */
    --accent-color-light: #beb4a5;
    --accent-color-medium: #772b2b;
    --accent-color-dark: #3a0f0f;
    --accent-color-darkest: #280707;
    --accent-color-green: #80d6a272;
    --accent-color-green-full: #80d6a2;
    --accent-color-cream-shadow: #f8cebea0;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #1c1213;
}
